@using hbehr.recaptcha
@model Portfolio.Models.EmailMessage
@{
   ViewBag.Title = "Contact";
   string statusMessage = ViewBag.Message;
   if (string.IsNullOrEmpty(statusMessage))
   {
      statusMessage = string.Empty;
   }
   bool messageSuccess = statusMessage.Contains("Message Sent");
}
<h2>@ViewBag.Title</h2>

<div class="row justify justify-content-center">
   <div class="col-11 col-md-8 col-lg-6 col-xl-5">
      @if (messageSuccess)
      {
         <div class="alert-success rounded"><h4>@statusMessage</h4></div>
      }
      else
      {
         <div class="alert-warning rounded"><h4>@statusMessage</h4></div>
      }
   </div>
</div>

<div class="bg-dark rounded">
   <div class="row justify justify-content-center">
      <div class="col-11 col-md-8 col-lg-6 col-xl-5">
         @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
         {
            <div class="card bg-light">
               <div class="row mt-0">
                  <div class="col-md-12 ">
                     <h4 class="">Contact Me</h4>
                     <p>Use the form below to share your questions, ideas, comments and feedback</p>
                  </div>
               </div>
               <div class="form-group row mb-3">
                  <div class="col-md-12 mb-0">
                     <p class="mb-1">
                        Email
                        @if (!messageSuccess)
                        {
                           @Html.ValidationMessageFor(m => m.FromAddress, "*", new { @class = "text-danger alert-danger" })
                        }
                     </p>
                     @Html.TextBoxFor(m => m.FromAddress, new { id = "e-mail", name = "email", placeholder = Html.DisplayName("Enter your email"), @class = "form-control input-box rm-border" })
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-12 mb-2">
                     <p class="mb-1">
                        Message
                        @if (!messageSuccess)
                        {
                           @Html.ValidationMessageFor(m => m.MessageContent, "*", new { @class = "text-danger alert-danger" })
                        }
                     </p>
                     @Html.TextAreaFor(m => m.MessageContent, new { id = "message", type = "text", name = "message", placeholder = Html.DisplayName("Enter your message"), @class = "form-control input-box rm-border" })
                  </div>
               </div>
               <div class="form-group row justify-content-center mb-0">
                  <div class="col-md-12 px-3">
                     <input type="submit" value="Submit" class="btn btn-block btn-purple rm-border">

                     @ReCaptcha.GetCaptcha()
                  </div>
               </div>
            </div>
         }
      </div>
   </div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
